.l-ob {
  min-height: 100vh;
  background-color: linear-gradient(225deg, #064056 0%, #1ea6de 100%);
  background-image: url('../images/bg.png');
  background-size: cover;
  padding-bottom: 6rem;
  
  &__header {
    &__brand {
      width: 120px;
      margin: 1rem auto;
      display: block;
    }
  }
  &__panel {
    border-radius: 2px;
    background-color: white;
    padding: 2rem;
  }

  &__nav {
   // overflow: hidden;
    &--prev {
      display: inline-block;
      color: #a2a2a2;
      &::selection {
        background: none;
        color: $c1;
      }
    }
    &--next {
      display: inline-block;
      float: right;
      color: $c1;
      &:hover {
        color: $c2;
      }
      &::selection {
        background: none;
        color: $c1;
      }
    }
  }

  &__uni-selection{
      width: 76%;
      display: inline-block;
  }
}
.desc-container{
    text-align: center;
    position: relative;
    padding: 0 60px;
    .l-ob__nav--prev{
        float: left;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin: 0;
    }
    .l-ob__nav--next{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin: 0;
    }
}